<div class="center hero-unit">
  <h3>ИГРА</h3>
  <img src="http://naklejki-na-avto.ru/images/product/l/86b17e8.png" alt="Крокодильчик!" />
  <br />
  <h1>СЛОВО</h1>
  <br />
  <button id="goButton" class="btn btn-large btn-primary">Дальше</button>
  <p>Скоро тут будет круто и красиво :)</p>
</div>

<script>
$( "#goButton" ).click(function() {
  alert( "Отстань, я сплю!" );
});
</script>
